<h2>Asset Helpers</h2>

<!-- <img src="http://fillmurray.com/130/150" alt=""> -->

<%= image_tag "http://fillmurray.com/130/150", :alt => "Photo of Bill Murray" %>

<!-- <img src="/assets/funny.jpg" alt=""> -->

<%= image_tag "funny.jpg", :class => "funny_image", :alt => "Child Smoking" %>

<h2>See also video_tag and audio_tag</h2>
