<h1>URL Helpers</h1>

<a href="/numbers">Numbers</a>


<!-- Typed in the opposit direction -->
<%= link_to "Numbers", "/numbers" %>

<!-- Typed with the dynamic path changed in routes. You can find the various paths in 3000/rails/info/routes -->
<%= link_to "Numbers", numbers_path %>
