<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/portfolio.css">
  <title>CSS Layout Demo</title>
</head>
<body>

  <!-- HTML has introduced SEMANTIC MARKUP so tags make more sense. EX Header tag is a header, footer tag is a footer. -->


  <div class="container">

    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>

      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://fillmurray.com/400/600" alt="A Photo of Bill Murray">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestias, ad dolor asperiores eius modi veniam minima tempore necessitatibus dolorem, natus mollitia dignissimos, accusamus reprehenderit sapiente optio quidem nulla omnis?</p>
      <p>Consequuntur tempore quam, modi, optio facilis nam excepturi aut nobis quaerat voluptas? Illo possimus cum quod recusandae eum atque, necessitatibus provident ut. Blanditiis iste fugiat illum reprehenderit, at sit odit!</p>
      <p>Blanditiis maxime excepturi facere vitae amet incidunt facilis omnis nihil deserunt unde quas non, sint fuga sed quasi atque, assumenda corporis nisi hic animi! Aut beatae, consequuntur? Error, fugit, cum.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>

      <ul>
        <li>Benigni</li>
        <li>Fellini</li>
        <li>Germi</li>
        <li>Mastroianni</li>
      </ul>
    </aside>
  </div> <!-- class="container" -->

    <footer></footer>

</body>
</html>
