<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/master.css">
  <title>Crappy Calculator</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>

  <h1>Welcome to Crappy Calculator</h1>

  <!-- before yield  -->
  <%= yield %>
  <!-- after yield  -->

  <footer>
    &copy; Copyright
  </footer>
</body>
</html>
