<h1>Look up Stock Price</h1>

<form action="/stocks/info"> 
  <label>Stock Symbol:</label>
  <input type="search" name="stock_symbol" required placeholder="AAPL">
  <button>Get Price</button>
</form>
